<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="07cb6462-2e55-4813-b138-33c1d7224903" wadlVersion="http://wadl.dev.java.net/2009/02" name="SalesforceEventCreateContact" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="07cb6462-2e55-4813-b138-33c1d7224903fileName">SalesforceEventCreateContact</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://internal-alb-syndev-test-harness-399698269.ap-southeast-2.elb.amazonaws.com</con:endpoint></con:endpoints></con:interface>