<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2d9c3263-b36a-4505-acf9-6e5dfbb09a32" name="SalesForceTOCyras-CreateUpdateContact" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="2d9c3263-b36a-4505-acf9-6e5dfbb09a32fileName">SalesForceTOCyras-CreateUpdateContact</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>stEndpoint</con:name><con:value>http://internal-alb-synst-test-harness-28295629.ap-southeast-2.elb.amazonaws.com</con:value></con:property><con:property><con:name> SyncReqStatus</con:name><con:value/></con:property></con:properties><con:reportParameters/></con:testSuite>