<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7b9c2058-650d-4e13-be07-32ce5d424a10" wadlVersion="http://wadl.dev.java.net/2009/02" name="Prepare-CreatePerson-SFTOC-CYRASResponse" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7b9c2058-650d-4e13-be07-32ce5d424a10fileName">Prepare-CreatePerson-SFTOC-CYRASResponse</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>${#Project#stEndpoint}</con:endpoint><con:endpoint>{{stEndpoint}}</con:endpoint></con:endpoints></con:interface>