<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4d82f120-7cf7-4239-a6f1-6b440e3ce4d8" name="CyrastoSalesforce-CreateUpdatePerson" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="4d82f120-7cf7-4239-a6f1-6b440e3ce4d8fileName">CyrastoSalesforce-CreateUpdatePerson</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>